<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Products" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/products">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="New product" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/product-new">
    <ion-nav-view name="tab-product-new"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
